:root {
    --accent-clr: #3d52a0;
    --accent-clr-light: #7091e6;
    --light-grey-blue: #d1e0ff;
    --very-light-grey-blue:#ede8f5;
    --shadow-clr: #2d3e7a;
    --white: #ffffff;
    --black-blue: #131339;
}

.todo-container{
    width: 80%;
    margin: 0 auto;
}

.btn {
    background: linear-gradient(30deg, var(--accent-clr),var(--accent-clr-light));
    color: var(--white);
    border: none;
    border-radius: .5rem;
    padding: .3rem .8rem;
    margin-left: .2rem;
    border-bottom: 2px solid var(--shadow-clr);
    box-shadow: 0 0 2px var(--shadow-clr);
  }

.todo {
    background: linear-gradient(30deg,var(--very-light-grey-blue), var(--light-grey-blue));
    color: var(--black-blue);
    padding: 2rem;
    margin: 1rem auto;
    border-radius: 1rem;
}